.icon-come-back{
    font-size: 1.5rem;
}

.come-back:active{
    background-color: #04C4D9;
}

.inicio, .icon-come-back, .come-back-text{
    color: #04C4D9;
}

.ice-home{
    height: 3rem;
}

.section-tables{
    box-shadow: 10px 15px 7px 5px rgba(200,228,235,1);
}

.section-inicio{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.section-body{
    background-color: #04C4D9 !important;
}

.section-body-icon, .section-body-description{
    color: #fff;
}

.section-footer{
    color: #04C4D9 !important;
}

.section-body-icon{
    font-size: 4rem;
}


.btn-log-out{
    background-color: #04C4D9 !important;
    color: #fff !important;
}

.btn-log-in{
    background-color: #04C4D9 !important;
    color: #fff !important;
    border-radius: 0 !important;
}

@media (max-width: 991.98px) {
    .header-tab{
        display: none;
    }
}

@media (max-width: 767.98px) {
    .change-to-column{
        flex-direction: column;
        justify-content: center;
    }

    .change-font-size{
        font-size: 0.8rem !important;
        text-align: center;
    }
}